doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Colour
    link(rel="stylesheet" href="./style.css")
    script(src="https://cdn.jsdelivr.net/gh/matthewscharles/cm-tools@latest/build/cm-tools.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js")
    script(src="./pitch_colour.js")