// usual boilerplate
doctype html
html(lang="en")
    head
        title Colour test
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.6/Tone.js")
        link(rel="stylesheet" href="style.css")
        script(src="main.js" type="module")
    body(onload="start()")
        .bars
            .bar
            .bar 
            .bar 
            .bar 
            .bar
            .bar 
            .bar 
            .bar 
            .bar
            .bar 
            .bar 
            .bar 

        //- script(defer).
        //-     start();
        script.
            