// usual boilerplate
doctype html
head
    title Colour test
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.6/Tone.js")
body
script(src="../index.js")

