// usual boilerplate
doctype html
html(lang="en")
    head
        title Colour test
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.6/Tone.js")
        script(src="main.js" type="module")
        link(rel="stylesheet" href="style.css")
    body(style="background-color: #000000;") 
        .controls
            button#socketInit() listen...
            button#dmxInit() dmx connect
            button#flush flush
            label(for="autoWrite") autoWrite
            input#autoWrite(type='checkbox')
            label(for="always_on") always_on
            input#always_on(type='checkbox')
            label(for="hold") hold
            input#ignore_off(type='checkbox')
            code colours.use_decay = false;
        .testBars 
            .testBar 0
            .testBar 1
            .testBar 2
            .testBar 3
        
    script.
       
