body{
    background-color: #000;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}

.bars{
    height: 100%;
    width: 100%;
    margin:none;
    display:none;
    background-color:blue;
    position:absolute;
    top:0;
    left:0;
    
}

.testBars{
    border: solid 1px #fff;
    padding:2em;
}

.bar{
    height: 12fr;
    width: 100%;
    margin:none;
    display:block;
    background-color:red;
}