#presetIconTemplates
        svg#preset_8(viewbox='0 0 120 120' width='100' style='display:none;')
          g.sectors
            path#test_sector_0(d='M 60 0 A 60 60 0 0 1 102 18 L 60 60 L 60 0 Z' style='fill: red;')
            path#test_sector_1(d='M 102 18 A 60 60 0 0 1 120 60 L 60 60 L 102 18 Z' style='fill: green;')
            path#test_sector_2(d='M 120 60 A 60 60 0 0 1 102 102 L 60 60 L 120 60 Z' style='fill: blue;')
            path#test_sector_3(d='M 102 102 A 60 60 0 0 1 60 120 L 60 60 L 102 102 Z' style='fill: orange;')
            path#test_sector_4(d='M 60 120 A 60 60 0 0 1 18 102 L 60 60 L 60 120 Z' style='fill: red;')
            path#test_sector_5(d='M 18 102 A 60 60 0 0 1 0 60 L 60 60 L 18 102 Z' style='fill: green;')
            path#test_sector_6(d='M 0 60 A 60 60 0 0 1 18 18 L 60 60 L 0 60 Z' style='fill: blue;')
            path#test_sector_7(d='M 18 18 A 60 60 0 0 1 60 0 L 60 60 L 18 18 Z' style='fill: orange;')

        svg#preset_template(viewbox='0 0 120 120' width='100' style='display:none;')
          g.backdrop
            //- circle(cx='60' cy='60' r='62' fill='black')
          g.sectors
            path#test_sector_0.wedge(d='M 60 0 A 60 60 0 0 1 90 8 L 60 60 L 60 0 Z' style='fill: grey;')
            path#test_sector_1.wedge(d='M 90 8 A 60 60 0 0 1 112 30 L 60 60 L 90 8 Z' style='fill: grey;')
            path#test_sector_2.wedge(d='M 112 30 A 60 60 0 0 1 120 60 L 60 60 L 112 30 Z' style='fill: grey;')
            path#test_sector_3.wedge(d='M 120 60 A 60 60 0 0 1 112 90 L 60 60 L 120 60 Z' style='fill: grey;')
            path#test_sector_4.wedge(d='M 112 90 A 60 60 0 0 1 90 112 L 60 60 L 112 90 Z' style='fill: grey;')
            path#test_sector_5.wedge(d='M 90 112 A 60 60 0 0 1 60 120 L 60 60 L 90 112 Z' style='fill: grey;')
            path#test_sector_6.wedge(d='M 60 120 A 60 60 0 0 1 30 112 L 60 60 L 60 120 Z' style='fill: grey;')
            path#test_sector_7.wedge(d='M 30 112 A 60 60 0 0 1 8 90 L 60 60 L 30 112 Z' style='fill: grey;')
            path#test_sector_8.wedge(d='M 8 90 A 60 60 0 0 1 0 60 L 60 60 L 8 90 Z' style='fill: grey;')
            path#test_sector_9.wedge(d='M 0 60 A 60 60 0 0 1 8 30 L 60 60 L 0 60 Z' style='fill: grey;')
            path#test_sector_10.wedge(d='M 8 30 A 60 60 0 0 1 30 8 L 60 60 L 8 30 Z' style='fill: grey;')
            path#test_sector_11.wedge(d='M 30 8 A 60 60 0 0 1 60 0 L 60 60 L 30 8 Z' style='fill: grey;')
          g.over
              circle(class='colourIconCircle' cx='60' cy='60' r='58' stroke='black' fill='none' stroke-width='4px')